body {
  width: 100%;
  position: relative;
  height: 12em;
  border-top-left-radius: 0%;
  margin: 0;
}

.toolbar {
  background-color: #3c3a39;
  display: flex;
  padding: 19px;
  padding-top: 15px;
  justify-content: space-between;
}

#logo {
  color: #fff;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 6;
  font-size: 19px;
  text-decoration: dotted;
}

/* body design */

.body {
  margin: 0;
  width: 100%;
  position: relative;
  height: 44px;
  flex-wrap: wrap;
}

.first-section {
  color: white;
  background-color: #1c1a19;
  display: flex;
  height: calc(69vh);
  padding: 0 1px;
  background-image: url("img/Group.png");
  background-repeat: no-repeat;
  background-position: bottom 20% right;
  flex-direction: column;
}

.name {
  width: 87.2%;
  height: fit-content;
  font-family: "Crete Round", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 56px;
  line-height: 64px;
  letter-spacing: 0.37px;
  color: #ff6b00;
  margin-bottom: 0;
  overflow: hidden;
  margin-top: 12;
}

.first-section .job-title {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-size: 24px;
  color: #fff5e1;
  order: 1;
}

.first-section .social-media {
  display: flex;
  font-size: 22px;
  width: 180px;
  list-style: none;
  padding: 0;
  margin: 0;
  justify-content: space-between;
  order: 5;
}

.first-section .job {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-size: 15px;
  font-weight: 10px;
  line-height: 14px;
  order: 1;
}

/* -----Work section----- */

.work-section {
  padding: 0 25px;
}

.work-section .grid-wrapper {
  display: grid;
  grid-template-columns: auto;
  row-gap: 24px;
  padding: 80px 0;
}

.work-section .content-wrapper {
  padding: 0 16px;
}

/* project language */
.work-section .project-lang {
  list-style: none;
  display: flex;
  padding: 0;
}

.work-section .project1 .project-lang li {
  border: 1px solid #8993a4;
  padding: 10px 12px;
  margin-right: 12px;
}

.work-section .project-sample .project-lang li {
  padding: 10px 12px;
  margin-right: 12px;
  background: rgba(255, 255, 255, 0.24);
}

/* images */
.work-section .project1 .project-img {
  width: 327px;
  height: 237px;
  margin-bottom: 24px;
}

.work-section .project1 {
  display: flex;
}

.work-section .half-btn,
.contact-section .contact-form button {
  width: 124px;
  height: 48px;
  background-color: #ff6b00;
  border: none;
  color: white;
}

.contact-section .contact-form button {
  width: 131px;
}

.work-section .project-sample {
  background-image: url("img/Mask Group.png");
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  width: 327px;
  height: 386px;
  display: flex;
}

.work-section .project-sample .full-btn {
  width: 327px;
  height: 48px;
  background-color: #ff6b00;
  border: none;
  color: white;
}

.work-section .project-sample .full-btn,
.work-section .half-btn,
.contact-section .contact-form button {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
}

.work-section .project-sample .full-btn:hover,
.work-section .half-btn:hover,
.contact-section .contact-form button:hover {
  color: #f55800;
  background-color: #fff5e1;
  border: 1px solid #f55800;
}

.work-section .project-sample .full-btn:active,
.work-section .half-btn:active,
.contact-section .contact-form button:active {
  color: white;
  background-color: #e05304;
}

.work-section .project-sample .full-btn:disabled,
.work-section .half-btn:disabled,
.contact-section .contact-form button:disabled {
  background-color: #f4f1f0;
  color: #5b5957;
}

.work-section .project-description {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  margin: 12px 0;
}

.work-section .project-name {
  font-family: 'Crete Round', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 44px;
  margin: 0;
}

.work-section .work-section-heading {
  font-family: 'Crete Round', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  padding: 68px 0;
  border-bottom: 1px solid black;
}

/* -----Work section-----end */

/* -------About me------- */

.about-me-section {
  padding: 0 24px;
  background-color: #1c1a19;
  color: white;
  background-image: url("img/Frame.png");
  background-repeat: no-repeat;
  background-position: right 70vh;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.about-me-section .grid-wrapper {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 100vh;
  row-gap: 24px;
  padding: 80px 0;
}

.about-me-section .grid-wrapper .aboutme {
  display: flex;
  border-bottom: 1px solid #fff;
}

.about-me-section .title {
  font-family: 'Crete Round', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 72px;
  line-height: 88px;
  color: #ff6b00;
  margin-top: 20%;
  margin-bottom: 0;
}

.about-me-section .summary {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

.about-me-section .resume {
  padding: 12px;
  background-color: #ff6b00;
  border: none;
  color: white;
  width: 161px;
  height: 48px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
}

.about-me-section .resume:hover {
  color: #f55800;
  background-color: #fff5e1;
  border: 1px solid #f55800;
}

.about-me-section .resume:active {
  color: white;
  background-color: #e05304;
}

.about-me-section .resume:disabled {
  background-color: #f4f1f0;
  color: #5b5957;
}

.about-me-section .skill-set ul {
  padding: 0;
  display: flex;
  list-style: none;
  text-align: center;
}

.about-me-section .skill-set .lang {
  list-style-image: url("img/Rectangle 55.png");
}

.about-me-section .skill-set .fram {
  list-style-image: url("img/Rectangle 56.png");
}

.about-me-section .skill-set .skills {
  list-style-image: url("img/Rectangle 57.png");
}

.about-me-section .skill-set .category {
  font-family: 'InaiMathi', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
}

.about-me-section .skill-set .sublist {
  list-style: none;
  display: flex;
  padding: 0;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 43px;
  margin: 25px;
}

/* -------About me-------end */

/* ---Contact section--- */

.contact-section {
  display: flex;
  height: calc(100vh + 120px);
  margin: 0;
  margin-top: 100px;
  padding: 0 24px;
  flex-direction: column;
}

body > div > main > form > h3 {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  line-height: 43px;
  text-align: center;
  color: #172b4e;
  width: 314px;
  margin-left: 36px;
}

form .input {
  border: 0;
  border-bottom: 3px solid;
  border-color: #dbd8d7;
  padding: 20px;
  padding-left: 0;
  padding-right: 144px;
  margin-left: 32px;
}

.input::placeholder {
  text-align: left;
  size: 17px;
}

#comment {
  width: 311px;
  height: 100px;
  margin-left: 30px;
  background-color: #fbf8f7;
}

#getintouch {
  background-color: #ff6b00;
  padding: 12px;
  color: white;
  font-size: 13px;
  font-weight: bold;
  font-family: 'Inter', sans-serif;
  width: 100px;
  height: 48px;
  border: 0;
  margin-left: 134px;
  margin-top: 15px;
}

#getintouch:hover {
  border: 2px solid blue;
}

#getintouch:active {
  background-color: grey;
}

/* ---Contact section---end */

/* ---footer section--- */
.footer-section .social-links {
  display: flex;
  font-size: 22px;
  width: 180px;
  margin-left: 17%;
  margin-top: 100px;
  justify-content: space-between;
  order: 1;
}

.shape {
  margin-top: 20px;
  margin-left: 130px;
  height: 3px;
  width: 100px;
  order: 0;
}

/* Mobile first CSS model */
@media all and (min-width: 375px) {
  .nav-bar ul {
    justify-content: space-between;
    padding: 12px 24px;
  }

  .intro-section {
    flex-direction: column;
    justify-content: center;
  }

  /* work section */
  .work-section .project-lang {
    justify-content: flex-start;
  }

  .work-section .project1 {
    flex-direction: column;
  }

  .work-section .project-sample {
    flex-direction: column;
    justify-content: flex-end;
  }

  .about-me-section .grid-wrapper .aboutme {
    flex-direction: column;
  }

  .about-me-section .skill-set ul {
    flex-direction: column;
    align-items: center;
  }

  .about-me-section .skill-set .sublist {
    flex-direction: column;
    align-items: center;
  }
}
