.toolbar {
  background-color: #3c3a39;
  display: flex;
  padding: 16px;
  padding-top: 30px;
  margin: 0;
  justify-content: space-between;
}

#logo {
  color: #fff;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  text-decoration: none;
}

/* body design */

.body {
  margin: 0;
  width: 375px;
  position: relative;
  height: 6844px;
  border-top-right-radius: 0%;
}

.first-section {
  color: white;
  background-color: #1c1a19;
  display: flex;
  height: calc(100vh - 45px);
  margin: 0;
  padding: 0 24px;
  background-image: url("img/Group.png");
  background-repeat: no-repeat;
  background-position: bottom -50px right;
  flex-direction: column;
}

.first-section .name {
  margin: 0;
  font-family: 'Crete Round', sans-serif;
  font-style: normal;
  color: #ff6b00;
  font-size: 50px;
}

.first-section .job-title {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-size: 24px;
  color: #fff5e1;
}

.first-section .social-media {
  display: flex;
  font-size: 24px;
  width: 180px;
  list-style: none;
  padding: 0;
  margin: 0;
  justify-content: space-between;
}

.first-section .job {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}
